.attribute-form {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label-input > label,
.collection-attribute-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.label-input > input {
  width: 100%;
  padding: 8px;
  color: #fff;
  background: #232127;
  border: 1px solid #333a4b !important;
  border-radius: 10px;
}

.attribute-textarea {
  width: 80%;
  color: #fff;
  background: #232127;
  border: 1px solid #333a4b !important;
  border-radius: 10px;
}

.attribute-textarea:focus {
  outline: none;
}

.label-input > input:focus {
  outline: none;
}
